{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "dynamicImport": true
    },
    "minify": {
      "compress": true,
      "sourceMap": false,
      "mangle": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    },
    "target": "es5"
  },
  "minify": true
}
